*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(252, 255, 80);

}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(34, 245, 245);
    padding: 3%;
    box-shadow: black 5px 5px;
}
form label{
    padding: 5%;
}
button{
    margin-top: 10%;
    background-color:rgb(209, 0, 192);
    font-size: large;
}