
*{margin: 0px;padding: 0px;}

/**********BODY***************************/
/**********HEADER*************************/
body{
    background-color: aquamarine;
}

/**************NAV**********************/


/*********ASIDE***************************/
aside {
    display: flex;
    justify-content:space-around;
    background-color: cadetblue;

    
}
    .but-aside{
        width: 7rem;
        height: 2rem;
        font-style: italic;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        margin: 1%;
        font-size: large;
    }


/************MAIN**************************/
main{
    
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
    .card{
        margin: 2%;
        padding: 1%;
        font-size: xx-large;
        text-align: center;
        
    }
    
      



/****************footer********************/
footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
}

