
*{margin: 0px;padding: 0px;}

/**********BODY***************************/
/**********HEADER*************************/
body{
    background-color: rgba(239, 243, 6, 0.288);
}

/**************NAV************************/
/*********ASIDE***************************/
aside {
    display: flex;
    justify-content:space-around;
    background-color:chartreuse; 
}
    .but-aside{
        width: 7rem;
        height: 2rem;
        margin: 1%;   
        background-color:aliceblue;

    }
/************MAIN**************************/
main{
    
    display: flex;
    padding: 2%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
    .card{
        margin: 2%;
        padding: 1%;
        text-align: center;        
    }

/****************footer********************/
footer{
    text-align: center;
    background-color:rgb(15, 15, 15);
    color: aliceblue;
}

.coti{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    justify-content: center;
    margin: 20%;
    margin-top: 2%;
    text-align: center;

}   
    input{
        width: 10rem;
        margin: 1%;
    }

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    padding-top: 5px;
    margin: 2%;
    border: black 2px solid;

}