
.navbar-brand{
    font-size: xx-large;
}
.navbar-brand{
    font-family: titan one ;
}
.navbar-expand-sm{
    background: rgb(253,45,67);
    background: linear-gradient(67deg, rgba(253,45,67,1) 20%, rgba(34,48,195,1) 100%);    
}
.nav-link{
    color: aliceblue;
}

